.school {
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.school:hover {
    background-color: #eee;
}

.school-name {
    font-size: 12px;
    padding-right: 20px;
}

.race {
    float: left;
    height: 1.25em;
    margin-bottom: 1px;
    border-right: 1px solid #fff;
}

@media (min-width: 768px) {
    .school-name {
        padding-right: 0;
    }
}

#slider {
    margin: .5em 1em .5em 1em;
}