.school {
    border-bottom: 1px solid #eee;
}

.school:hover {
    background-color: #eee;
}

.school-name {
    font-size: 12px;
    padding-right: 0;
}
.race {
    float: left;
    height: 1.25em;
    margin-bottom: 1px;
    border-right: 1px solid #fff;
}